# raw sequencing / data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fasta
*.fa
*.fasta.gz
*.fa.gz
*.bam
*.sam
*.cram
*.bai
*.crai
*.vcf
*.vcf.gz
*.bcf
*.tbi
*.idx

# raw data folder
project/raw_data/*
!project/raw_data/.gitkeep

# QC outputs (regenerovatelne z raw dat)
project/qc/fastqc/*
project/qc/multiqc/*
!project/qc/fastqc/.gitkeep
!project/qc/multiqc/.gitkeep

# FastQC / MultiQC generovane subory (pre istotu aj globalne)
*_fastqc.zip
*_fastqc.html
multiqc_data/
multiqc_report.html

# Windows / misc
*.Zone.Identifier
Thumbs.db
.DS_Store

# references\hg38
project/references/hg38/*
